.header-infor {
    height: 31px;
    background-color: #fafafa;

}

.navbar .container .navbar-collapse {
    display: flex;
    justify-content: space-between !important;

}

.navbar .navbar-collapse .form-inline {
    display: flex;
    width: 35%;

}

.navbar .navbar-collapse .form-inline .btn-info {
    color: #000;
    background-color: #4c4f50;
    border-color: #0dcaf0;
    color: #00cbf6;
}

.navbar .navbar-collapse .form-inline input {
    margin-right: 20px;


}

/* //dropdown */
.navbar .container .navbar-collapse ul {
    margin: 0px 20px;
}

.navbar .container .navbar-collapse ul li:nth-child(1) {
    margin: 10px 20px 0px;
}

.navbar .container .navbar-collapse ul li:nth-child(3) {
    margin: 10px 20px 0px;

}

.navbar .container .navbar-collapse ul li:nth-child(2) {
    margin: 15px 20px 0px;
    position: relative;



}

.navbar .container .navbar-collapse ul li:nth-child(2) button {
    letter-spacing: 1px;
}

.navbar .container .navbar-collapse ul li:nth-child(4) {
    margin: 10px 20px 0px;

}

.dropdown-menu-customer {
    width: 130px;
    height: 234px;
    background: #ffffff;
    position: absolute;
    top: 114px;
    left: 27.83%;
    border-radius: 3px;
    z-index: 1;
}

.container .navbar-brand {
    margin-bottom: 8px;
    font-size: 30px;
}

nav {

    width: 100%;
    z-index: 333333;
}

.navbar {}

.header {
    position: fixed;
    width: 100%;
    z-index: 333333;
    background-color: #fafafa;
}

.header-infor {
    display: flex;
    justify-content: space-between;
}

.header-infor-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-infor-log-login {
    margin-right: 35px;
    cursor: pointer;
}

.header-infor-log-login:hover {
    color: gray;
}

.heder-infor-log-register {
    margin-right: 10px;
}

.cart-header {
    color: #fff;
    display: flex;
}

.cart-header-icon {
    margin-right: 5px;
    font-size: 25px;

}

.cart-header-count {
    height: 20px;
    width: 20px;
    background: #00cbf6;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    /* padding-top: 10px; */
    margin-top: 15px;
    font-size: 13px;

}

.search-item {
    width: 400px;
    background-color: #fcf8f8;
    position: absolute;
    left: 59.4%;
    border-radius: 5px;
    height: 402px;
    overflow-y: scroll;
}

.search-item .result {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.search-item .result:hover {
    background-color: #e3e3e3;
}

.search-item .result-image {
    margin: 10px;
}

.search-item .result-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.search-item .result-title {
    margin: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

.search-item .result-title .result-title-name {}